{% extends "common/base.html" %}
{% block content %}
<div>
    <p>Personally, I enjoy reading others' opinions about myself. <br>
    Obviously, people always tell more if they can do it anonimously:)<br>
    <strong> I promise</strong> that it's impossible for me to find out who wrote anything here (except asking personally)
    </p>
    <p>So you can type <em>whatever</em> you like! <i class="fa fa-heart"></i></p>
</div>
<div>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
</div>
{% endblock %}