<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>I think that...</title>
</head>
<body>
<div>
    Personally, I enjoy reading others' opinions about myself. Obviously, people always tell more if it's anonimously:)
    I promise that it's impossible for me to find out who wrote anything here (except asking personally)
    So you can type whatever you like!
</div>
<div>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
</div>
</body>
</html>