{% extends "common/base.html" %}
{% block content %}
<div>
    <p>Personally, I enjoy reading others' opinions about myself. </p>
    <p>Obviously, people always tell more if it's anonimously:)</p>
    <p><span style="font-weight: lighter"> I promise </span>that it's impossible for me to find out who wrote anything here (except asking personally)
    </p>
    So you can type whatever you like! <i class="fa fa-heart"></i>
</div>
<div>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
</div>
{% endblock %}